# Porta do servidor Express
PORT=3000

# ==========================================
# SUPABASE (Núcleo de Dados)
# ==========================================
VITE_SUPABASE_URL=https://yzbxsxabzncdzuxvlppt.supabase.co
# Usamos a Service Role Key para ignorar o RLS na autenticação via Token (APIGF_ApiTokens)
SUPABASE_SERVICE_ROLE_KEY=sua_chave_service_role_aqui
